*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}
.help{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
.box{
    width: 49%;
    height: 70%;
    position: absolute;
    z-index: -1;
    right: 0;
    background-color: rgb(11, 216, 206);
    border-radius: 0 0 0 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.box_3d{
    width: 972px;
    height: 747px;
    position: absolute;
    z-index: -1;
    right: 0;
    background-color: rgb(11, 216, 206);
    border-radius: 0 0 0 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.box_3d img{
    margin-left: 6rem;
    margin-top: 5rem;
    width: 650px;
}
/* nav starts here */
nav{
    width: 100%;
    display: flex;
    background: none;
    align-items: center;
}
nav .logo{
    margin-left: 10%;
}
nav .menubar{
    margin-left: 30%;
}
nav .menu{
    text-decoration: none;
    color: white;
    margin-right: 70px;
    font-size: large;
}
nav .menu i{
    margin-left: 0.2rem;
    font-size: 16px;
}
nav .partner{
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    border-radius: 0.8rem;
    border: none;
    font-weight: 500;
    background-color: white;
    color: black;
    cursor: pointer;
}
/* nav ends here */

.service{
    width: 45.1rem;
    margin: 8rem 0 0 10rem;
}
.service div span{
    font-size: 4.5rem;
}
.textstyle{
    text-shadow: 2px 2px 4px #000000;
    color: white;
}
.service span{  
    display: block;
    font-size: 2rem;
    font-weight: 700;
}
.idea{
    margin-top: 2rem;
}
.service p{
    margin-top: 1.5rem;
    font-size: 1.8rem;
    text-align: justify;
    color: rgb(148, 148, 148);
}
.service input{
    margin-top: 1rem;
    padding: 0.6rem 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(9, 201, 192);
    color: white;
    margin-bottom: 12rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.service_1{
    text-align: center;
    margin: auto;
    width: 1024px;
    height: 350px;
}
.service_1 p{
    text-align: center;
    font-weight: bold;
    color: rgb(11, 216, 206);
    font-size: 4.5rem;
}
.service_1 span:nth-child(2){
    margin-top: 1rem;
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}
.service_1 span:nth-child(3){
    color: rgb(148, 148, 148);
    display: block;
    margin-top: 1.5rem;
    font-size: 1.8rem;
}
/* page ends here */


#bk_1{
    width: 100%;
}
#bk_1 img{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.ser{
    height: 680px;
    width: 1970px;
}
#bk_1 .ser div{
    height: 680px;
    width: 1000px;
    padding: 220px;
    box-sizing: border-box;
}
#bk_1 div span{
    display: block;
    font-weight: bold;
    color: rgb(11, 216, 206);
    font-size: 4rem;
}
#bk_1 div p{
    color: rgb(148, 148, 148);
    margin-top: 1.5rem;
    font-size: 1.8rem;
}
.row2{
    float: right;
}
/* all the css of our services ends here */