*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}
.help{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
.box{
    width: 49%;
    height: 70%;
    position: absolute;
    z-index: -1;
    right: 0;
    background-color: rgb(11, 216, 206);
    border-radius: 0 0 0 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.box_3d{
    width: 972px;
    height: 747px;
    position: absolute;
    z-index: -1;
    right: 0;
    background-color: rgb(11, 216, 206);
    border-radius: 0 0 0 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* nav starts here */
nav{
    width: 100%;
    display: flex;
    background: none;
    align-items: center;
}
nav .logo{
    margin-left: 10%;
}
nav .menubar{
    margin-left: 30%;
}
nav .menu{
    text-decoration: none;
    color: white;
    margin-right: 70px;
    font-size: large;
}
nav .menu i{
    margin-left: 0.2rem;
    font-size: 16px;
}
nav .partner{
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    border-radius: 0.8rem;
    border: none;
    font-weight: 500;
    background-color: white;
    color: black;
    cursor: pointer;
}
/* nav ends here */

.service{
    width: 45.1rem;
    margin: 8rem 0 0 10rem;
}
.service span{
    display: block;
    font-size: 4.5rem;
    font-weight: 700;
}
.service p{
    margin-top: 1.5rem;
    font-size: 1.8rem;
    text-align: justify;
    color: rgb(148, 148, 148);
}